body {
    background-image: linear-gradient(#c9729d,#c07c9c,#e69bba,#f5b1d3, #f3cfde);
    font-size: 22px;
    font-family: 'Times New Roman', serif;
    align-content: center;
}

.fon1 {
    width: 90%;
    margin: auto;
    background-color: #ecb7d5;
    border: 2px solid #ffffff;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

label {
    overflow-wrap: break-word;
}

.w-50 {
    width: 100% !important;
    min-height: 30px;
}
    
option {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}

@media (min-width: 767px) {
    body {
        font-size: 16px;
    }

    .fon1 {
        width: 70%;
    }

    .submit {
        width: 50%;
    }

    option {
        font-size: 16px;
    }

    .w-50 {
        width: 50% !important;
    }

    .form_item {
        padding-left: 30%;
    }

    img {
        max-width: 70%;
    }
}